@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

.mg-sm-bottom {
  margin-bottom: 2rem;
}

.mg-sm-top {
  margin-top: 1.5rem;
}

.logo-heading {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  padding: 3.5rem 0 1.5rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.Header .logo .logo-heading {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.Header .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Header .header-links .Section-left,
.Header .header-links .section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  outline: none;
}

.Header .header-links .Section-left a,
.Header .header-links .section-right a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #9e9aa7;
  cursor: pointer;
  margin: 1vw;
}

.Header .header-links .Section-left a:hover,
.Header .header-links .section-right a:hover {
  color: #232127;
}

.Header .header-links .Section-left .Signup-btn,
.Header .header-links .section-right .Signup-btn {
  padding: 1rem 2rem;
  border-radius: 10rem;
  background-color: #2acfcf;
  color: #fff;
}

.Header .header-links .Section-left .Signup-btn:hover,
.Header .header-links .section-right .Signup-btn:hover {
  color: #fff;
}

@media screen and (max-width: 930px) {
  .Header .header-links {
    display: none;
  }
}

@media screen and (min-width: 930px) {
  .mobileResp {
    display: none !important;
  }
}

@media screen and (max-width: 930px) {
  .mobileResp {
    display: none;
    position: absolute;
    width: 80%;
    background-color: #3b3054;
    top: 12rem;
    padding: 2rem;
    margin: auto;
    z-index: 10;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 1rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mobileResp ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
  .mobileResp ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobileResp ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
  }
  .mobileResp ul .Signup-btn {
    border-radius: 10rem;
    background-color: #2acfcf;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobileResp ul .Signup-btn:hover {
    color: #fff;
  }
  .mobileResp ul .line {
    width: 100%;
    height: 0.1rem;
    opacity: 0.2;
    background-color: #fff;
  }
}

.mobileNav {
  display: inline-block;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: 930px) {
  .mobileNav {
    display: none;
  }
}

.mobileNav .bar1,
.mobileNav .bar2,
.mobileNav .bar3 {
  width: 35px;
  height: 5px;
  background-color: #9e9aa7;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) !important;
          transform: rotate(-45deg) translate(-9px, 6px) !important;
  background-color: #1a8001;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) !important;
          transform: rotate(45deg) translate(-8px, -8px) !important;
  background-color: #1a8001;
}

.slider-section {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 15rem auto;
}

@media screen and (max-width: 930px) {
  .slider-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.slider-section .article-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

@media screen and (max-width: 930px) {
  .slider-section .article-left {
    width: auto;
    text-align: center;
  }
}

.slider-section .article-left .main-caption {
  font-size: 7rem;
  font-weight: 700;
  color: #232127;
  line-height: 1;
}

.slider-section .article-left .secondary-caption {
  font-size: 1.8rem;
  color: #9e9aa7;
  font-weight: 500;
}

.slider-section .article-left .getStarted-btn {
  padding: 1rem 2rem;
  background-color: #2acfcf;
  border-radius: 10rem;
  font-size: 1.8rem;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #9e9aa7;
  cursor: pointer;
}

.slider-section .article-left .getStarted-btn a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 930px) {
  .slider-section .article-left .getStarted-btn {
    margin: auto;
  }
}

.slider-section .illustration-container {
  position: relative;
  width: 55%;
}

@media screen and (max-width: 930px) {
  .slider-section .illustration-container {
    width: auto;
  }
}

.slider-section .illustration-container img {
  width: auto;
  max-width: 100%;
  margin-left: 8vw;
}

@media screen and (max-width: 930px) {
  .slider-section .illustration-container img {
    margin-left: 0;
  }
}

.main-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eceaea;
  padding: 15px 0 15px 0;
  margin: 15rem auto 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6.5rem auto;
}

.main-container .wrapper .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  background-position: center;
  background: #3b3054;
  background-image: url(../images/bg-boost-desktop.svg);
  width: 50%;
  top: -3rem;
  border-radius: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

@media screen and (max-width: 930px) {
  .main-container .wrapper .input-container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-container .wrapper .input-container .input {
  width: 80%;
  padding: 1rem 2rem;
}

.main-container .wrapper .input-container .input input {
  outline: none;
  width: 100%;
  border: none;
  font-size: 1.6rem;
  padding: 1.4rem 2rem;
  border-radius: 0.8rem;
}

.main-container .wrapper .input-container .shorten-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 930px) {
  .main-container .wrapper .input-container .shorten-btn-container {
    width: 90%;
    margin: auto;
  }
}

.main-container .wrapper .input-container .shorten-btn-container .shortenLink {
  padding: 1.2rem 2rem;
  background-color: #2acfcf;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.05rem;
  border: none;
  outline: none;
}

@media screen and (max-width: 930px) {
  .main-container .wrapper .input-container .shorten-btn-container .shortenLink {
    width: 40%;
    margin-top: 1.2rem;
  }
}

.main-container .wrapper .input-container .shortenLinkLoading {
  padding: 1rem 1.8rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  cursor: wait;
  letter-spacing: 0.05rem;
  border: none;
  outline: none;
  background-color: #ff6d6d !important;
}

.main-container .shortenedLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  width: 45%;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto auto 1.4rem auto;
  border-radius: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1180px) {
  .main-container .shortenedLink {
    width: 60%;
  }
}

@media screen and (max-width: 930px) {
  .main-container .shortenedLink {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
}

.main-container .shortenedLink .orginalLink {
  color: #232127;
  font-size: 1.8rem;
  font-weight: 500;
  padding-left: 1rem;
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 930px) {
  .main-container .shortenedLink .afterLineLink {
    width: 100%;
    height: 0.2rem;
    margin-top: 1rem;
    z-index: 2;
    background-color: #bfbfbf;
    opacity: 0.5;
  }
}

.main-container .shortenedLink .linkAndBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main-container .shortenedLink .linkAndBtn .shortLink {
  color: #2acfcf;
  font-size: 1.8rem;
  font-weight: 500;
  margin-right: 1.5rem;
}

@media screen and (max-width: 930px) {
  .main-container .shortenedLink .linkAndBtn .shortLink {
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
  }
}

@media screen and (max-width: 930px) {
  .main-container .shortenedLink .linkAndBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
}

.main-container .shortenedLink .linkAndBtn .copy {
  background-color: #2acfcf;
  padding: 1rem 3rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 930px) {
  .main-container .shortenedLink .linkAndBtn .copy {
    width: 80%;
    margin: auto;
  }
}

.main-container .shortenedLink .linkAndBtn .copied {
  background-color: #3b3054;
  padding: 1rem 3rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 930px) {
  .main-container .shortenedLink .linkAndBtn .copied {
    width: 80%;
    margin: auto;
  }
}

.main-container .caption-container {
  text-align: center;
  width: 35vw;
  margin: 2rem auto;
}

@media screen and (max-width: 930px) {
  .main-container .caption-container {
    width: 90%;
  }
}

.main-container .caption-container h2 {
  font-weight: 700;
  font-size: 3rem;
}

.main-container .caption-container p {
  font-size: 1.8rem;
  color: #9e9aa7;
  font-weight: 500;
}

.Loading {
  top: 10rem;
  text-align: center;
  font-size: 5rem;
}

.card-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 8rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 930px) {
  .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 13rem;
  }
}

.card-container .fat-line {
  position: absolute;
  background: #2acfcf;
  width: 80%;
  height: 1rem;
  top: 10rem;
}

@media screen and (max-width: 930px) {
  .card-container .fat-line {
    height: 80%;
    width: 1rem;
    margin: auto;
    left: 50%;
  }
}

.card-container .card {
  position: relative;
  background-color: #fff;
  margin: 1vw;
  width: 30%;
  border-radius: 1rem;
  padding: 4rem;
}

@media screen and (max-width: 930px) {
  .card-container .card {
    width: 90%;
    margin: 2.5rem auto;
  }
}

.card-container .card .icon {
  position: absolute;
  top: -4rem;
  border-radius: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8rem;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3b3054;
}

.card-container .card h4 {
  font-size: 2rem;
  color: #232127;
  margin-top: 4rem;
}

.card-container .card p {
  font-size: 1.8rem;
  color: #9e9aa7;
}

.card-container .card--1 {
  left: 0;
  top: -7rem;
}

.card-container .card--2 {
  top: -4rem;
}

.card-container .card--3 {
  right: 0;
  top: 0;
}

.cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/bg-boost-desktop.svg);
  background-color: #3b3054;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.cta-container .getStarted-btn {
  padding: 1rem 2rem;
  background-color: #2acfcf;
  border-radius: 10rem;
  font-size: 1.8rem;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #9e9aa7;
  cursor: pointer;
}

.cta-container .getStarted-btn a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 930px) {
  .cta-container .getStarted-btn {
    margin: auto;
  }
}

.cta-container h2 {
  color: #fff;
  font-size: 2.8rem;
}

.footer {
  background-color: #232127;
  margin: auto;
}

@media screen and (max-width: 930px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 930px) {
  .footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
}

.footer .logo-footer {
  padding-top: 5rem;
}

.footer .main-link {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .links-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: inherit;
  list-style: none;
}

@media screen and (max-width: 930px) {
  .footer .links-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .links-footer .link-section {
  font-size: 1.8rem;
  list-style: none;
  width: 10vw;
}

@media screen and (max-width: 930px) {
  .footer .links-footer .link-section {
    text-align: center;
    margin-top: 2rem;
    width: auto;
  }
}

.footer .links-footer .link-section span {
  font-weight: 500;
  color: #fff;
}

.footer .links-footer .link-section ul {
  list-style: none;
  margin-top: 2rem;
}

.footer .links-footer .link-section ul li {
  margin-top: 0.3rem;
}

.footer .links-footer .link-section ul a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #9e9aa7;
  font-weight: 500;
}

.footer .links-footer .link-section ul a:hover {
  color: #2acfcf;
}

.footer .social-connect {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.footer .social-connect ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.footer .social-connect ul li {
  margin-right: 1vw;
}

@media screen and (max-width: 930px) {
  .footer .social-connect ul li {
    margin-right: 2.2vw;
  }
}

.footer .social-connect ul li svg:hover {
  fill: #2acfcf;
}
/*# sourceMappingURL=Main.css.map */